<div class="feature-view-tab__content">
    <div class="row">
        
        <!-- #region Coluna 1 -->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <span class="feature-view__title">Dados cadastrais</span>
                </div>
            </div>
            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">{{ receiver?.personType === 'LEGAL' ? 'Nome fantasia' : 'Nome' }}</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ receiver?.name }}" class="feature-view__value">
                                    {{ receiver?.name }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <span class="feature-view__label">Tipo de pessoa</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ personTypeText }}" class="feature-view__value">
                                    {{ personTypeText }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row feature-view__group" *ngIf="carrier?.personType === 'LEGAL'">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">Razão social</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ receiver?.companyName }}" class="feature-view__value">
                                    {{ receiver?.companyName }}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <span class="feature-view__label">Inscrição estadual</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ receiver?.stateRegistration }}" class="feature-view__value">
                                    {{ receiver?.stateRegistration }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row feature-view__group">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 feature-view__body">
                            <div>
                                <span class="feature-view__label">{{ receiver?.personType === 'LEGAL' ? 'Nome fantasia' : 'Nome' }}</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ receiver?.name }}" class="feature-view__value">
                                    {{ receiver?.personType === 'LEGAL' ? receiver?.cnpj : receiver?.cpf }}
                                </span>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <div>
                                <span class="feature-view__label">Responsabilidade do frete</span>
                            </div>
                            <div class="truncate">
                                <span title="{{ freightResponsabilityText }}" class="feature-view__value">
                                    {{ freightResponsabilityText }}
                                </span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>    
        <!-- #endregion -->

        <!-- #region Coluna 2 -->
        <ndd-address-detail [address]="receiver?.address"></ndd-address-detail>    
        <!-- #endregion -->

    </div>
</div>
<div class="feature-view-tab__footer">
    <button class="ndd-ng-button ndd-ng-button--primary" (click)="onEdit()">Editar</button>
    <button class="ndd-ng-button ndd-ng-button--cancel" (click)="redirect()">Voltar</button>
</div>
<div class="ndd-ng-spinner__spinner" *ngIf="isLoading"></div>
<div class="ndd-ng-spinner__color" *ngIf="isLoading"></div>