<section>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <span class="feature-view__title">Dados de endereço</span>
            </div>
        </div>
        <div class="row feature-view__group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 feature-view__body">
                        <div>
                            <span class="feature-view__label">Logradouro</span>
                        </div>
                        <div class="truncate">
                            <span title="{{ address?.streetName }}" class="feature-view__value">
                                {{ address?.streetName }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <span class="feature-view__label">Número</span>
                        </div>
                        <div class="truncate">
                            <span title="{{ address?.number }}" class="feature-view__value">
                                {{ address?.number }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row feature-view__group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 feature-view__body">
                        <div>
                            <span class="feature-view__label">Bairro</span>
                        </div>
                        <div class="truncate">
                            <span title="{{ address?.neighborhood }}" class="feature-view__value">
                                {{ address?.neighborhood }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <span class="feature-view__label">Cidade</span>
                        </div>
                        <div class="truncate">
                            <span title="{{ address?.city }}" class="feature-view__value">
                                {{ address?.city }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row feature-view__group">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 feature-view__body">
                        <div>
                            <span class="feature-view__label">Estado</span>
                        </div>
                        <div class="truncate">
                            <span title="{{ address?.state }}" class="feature-view__value">
                                {{ address?.state }}
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div>
                            <span class="feature-view__label">País</span>
                        </div>
                        <div class="truncate">
                            <span title="{{ address?.country }}" class="feature-view__value">
                                {{ address?.country }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>